/*  author=ameen_pathayil
    last updated=08/08/2022
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Roboto&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}
/*  */
/* main container image */
.homepage-bg {
  background: linear-gradient(
      95.62deg,
      rgba(0, 37, 141, 0.5),
      rgba(3, 35, 124, 0.5)
    ),
    url("img/main2.jpg");
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.kinfig-white-logo {
  width: 17rem;
}
.homepage-content-box {
  margin: 0 2rem;
  padding: 3rem;
}
/* navbar menu heading */
.navbar-nav a {
  font-size: 18px;
  margin: 0 20px;
  color: white;
  font-weight: 700;
  text-align: center;
}
.coming-soon{
  background-color: #45ae50;
  border-radius: 35px;
  opacity: 1;
  width: 180px;
}
.mobile-nav-logo-img {
  width: 100px;
}

/* family quate text container */
.homepage-contentbox-content h1 {
  color: white;
  font-weight: 500;
  font-size: 50px;
  margin-top: 15rem;
}
.homepage-contentbox-content p {
  margin-top: 20px;
  font-size: 20px;
  color: white;
  font-weight: 200;
}
/* container mockup image  */
.homepage-contentbox-img {
  display: flex;
  justify-content: center;
}
.homepage-contentbox-img img {
  margin-top: 4rem;
}
.homepage-mockup {
  width: 25rem;
}

.navbar-toggler span {
  width: 3rem;
  height: 2rem;
}
.aboutus-card{
  margin: 5rem;
}
.card-content{
  margin: 2rem 2rem 7rem 2rem;
  padding: 3rem;
}
.aboutus-image{
  display: grid;
  align-items: center;
}
.aboutus-text h2{
  font-size: 3rem;
  letter-spacing: .2rem;
  padding-left: 2rem;
  margin-bottom: 3rem;
  border-left:.5rem solid #29317e;
  font-weight: bold  
}
.aboutus-text span{
  font-size: 3rem;
  color: #29317e;
}
.aboutus-text p{
  font-size: 2rem;
  color: #525252;
}
.createfamily-content{
  margin: 3rem 0;
}
.card-content-text{
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.card-content-text h1{
  font-size: 3rem;
  letter-spacing: .2rem;
  padding-left: 2rem;
  margin-bottom: 3rem;
  border-left:.5rem solid #29317e;
  font-weight: bold   ;

}
.card-content-text span{
  font-size: 3rem;
  color: #29317e;
}
.card-content-text p{
  font-size: 2rem;
  line-height: 3rem;
  color: #4b4b4b;
  margin-bottom: 2rem;
  width: 80%;
}
.card-content-text li{
  list-style: none;
  display: flex;
  align-items:center ;
  margin-bottom: 6px;
}
.card-content-text li span{
  margin-right: 1.6rem;
  padding: .8rem;
  border-radius: 50%;
  background-color: #f7f6f6;
}
.card-content-text li img{
  width: 1.5rem;
  display: block;
}
.card-content-text li p{
  color: #4b4b4b;;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  margin: 1rem;

}
.card-content-image img{
  max-width: 45%;
  width: 100%;
}
.second-image{
  margin: 2rem;
  position: relative;
  top: 8.5rem;
  
}

.footer-content{
  background:url('img/footerbg.jpg');
  text-align: center;
  padding: 3rem;
  background-size: cover;
}
.footer-content img{
  width: 12rem;

}
.footer-content ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-content ul li{
  background: white;
  border-radius: 1rem;
  margin: 2rem;
  padding: 1rem;

}
.footer-content ul li img{
  width:3rem;
}
.contact-us a,span{
  color: #b9b9b9;
  font-size: 2rem;
  text-decoration: none;
}
.footer-content{
  margin-top: 10rem;
}


/* media query for mobile devices*/
@media screen and (max-width: 960px) {
  html,body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    overflow-x: hidden; 
  }
  .kinfig-color-logo {
    width: 10rem;
  }
  .kinfig-white-logo-div img {
    width: 10rem;
  }
  .navbar-nav {
    top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80%;
    background:linear-gradient(50deg, #475fa0, #03237c);
    border-radius: 25px;
  }
  .navbar-nav a {
    font-size: 18px;
    color: white;
    margin-top: 2rem;
    font-weight: 700;
    padding-bottom: 24px;
    text-align:center ;
    margin: 2rem 2rem;
   
  }
  #navbar-boder{
    border-bottom:0.4rem dashed #a0a0a0;
    border-width: 2px;
    border-spacing:5px ;
  }
  .coming-soon{
    background-color: #45ae50;
    border-radius: 35px;
    opacity: 1;
    width: 180px;
    height: 38px;
  }
  .homepage-contentbox-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    
  }
  .aboutus-text p{
    font-size: 1.6rem;
    color: #525252;
    text-align: justify;
  }
  .card-content{
    margin: 1rem 1rem;
    padding: 1rem 1rem;
  }
  
  .homepage-contentbox-content h1 {
    color: white;
    font-weight: 300;
    font-size: 3.5rem;
    margin-top: 10rem;
    text-align: center;
  }
  .homepage-contentbox-content p {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: white;
    font-weight: 100;
    text-align: center;
  }
  .homepage-mockup{
    width: 15rem;
  }
  .card-content-image{
    text-align: center;
    
  }
  .card-content-text h1{
    font-size: 2.8rem;
    letter-spacing: .15rem;
    padding-left: 1rem;
    margin-bottom: 3rem;
    border-left:.5rem solid #29317e;
    font-weight: bold   ;
  
  }
  .card-content-text p{
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #4b4b4b;
    margin-bottom: 2rem;
    width: 100%;
    text-align: justify;
  }
  .card-content-text li p{
    color: #4b4b4b;;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    margin: 1rem;
  
  }
  .card-content-image img{
    width: 10rem;

  }
  .aboutus-card{
    margin: 5rem 1rem 1rem 2rem;
  }
.aboutus{
  padding: 0 3rem 3rem 2rem;
}
.aboutus-logo-image{
  display: none;
}
.createfamily-content{
  margin-top: -13em;
  
}
.createfamily-image{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-content ul li img{
  width:2rem;
}
.contact-us a,span{
  color: #b9b9b9;
  font-size: 1.6rem;
  text-decoration: none;
  
}
.navbar-dark{
  color: black;
}
i{
  color: white;
  font-size: 25px;
  outline: none!important;
}


}
