/*  author=ameen_pathayil
    last updated=08/08/2022
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Roboto&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/*  */
/* media query for mobile devices*/
@media screen and (max-width:960px) {
    .kinfig-logo{
        width: 100px;
    }

}
/* main container */
.main-container{
    
}
/* main container image */
.main-container-img{
    background-image:linear-gradient(to bottom, rgba(66, 40, 100, 0.52), rgba(121, 37, 231, 0.52)),
    url('img/main2.jpg');
     width: 100%;
     height: 100vh;
     background-size: cover;
}
/* navbar menu heading */
.navbar-nav a{
    font-size: 18px;
    margin: 0 20px;
    color: white;
    font-weight: 700;
}
.coming-soon{
    background-color: #45ae50;
    border-radius: 35px;
    opacity: 1;

}
.mobile-nav-logo-img{
    width: 100px;
}

/* family quate text container */
.main-container-quat-head h1{
    color: white;
    font-weight: 500;
    font-size: 50px;
    margin-top: 200px;
}
.main-container-quat-head p{
    margin-top: 20px;
    font-size: 20px;
    color: white;
    font-weight: 200;
}
/* container mockup image  */
.main-container-mockup-img{  
padding-top: 30px; 
display: flex;
justify-content: center;
}
..main-container-mockup-img img{
    
}
.second-box{
    margin-top: 50px;
}
.third-box{
    margin-top: 50px;
}

